#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  width: 50rem;
  height: 35rem;
  /* background: #761187; */
}

section {
  width: 6.4rem;
  height: 3.6rem;
  /* background: #761187; */
  border: 1px solid #000000;
}

@media (max-width: 640px) {
  #root {
    margin: auto;
  }
  main {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 18rem;
  }
  section {
    width: 4rem;
  height: 3rem;
  }
}